
	<div class="col-lg-12 posts">
	    <div class="row">
	    	<article ng-repeat="post in posts">
				<div class="col-sm-6 col-md-4">
		            <div class="thumbnail">
		                <a href="#/post/{{posts.indexOf(post)}}" class="btn btn-primary col-xs-12" role="button">{{post.title}}</a>
		                <p class="lead leadHomepage">
		                	<i class="fa fa-user"></i> by {{ post.author }}
		                </p>
		                <hr>
		                	<p><i class="fa fa-calendar"></i> Posted on {{ post.publish_date }}</p>
						<hr>
							<p>{{post.description}}</p>
							<div class="readMore">
								<a href="#/post/{{posts.indexOf(post)}}">Read more..</a>
							</div>
		                <div class="clearfix"></div>
		            </div>

		        </div>
			</article> 
		</div>
	</div>

